$background-color: #00252F;
$lighter-color: lighten($background-color, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Fira Sans', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;

  @media (max-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (max-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: $background-color;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #10353F;

  color: #FFF;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #2f736a;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

section {
  h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;

    color: #313131;
    font-size: 36px;

    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
}

.button {
  appearance: none;
  border: none;
  outline: none;
  background: none;

  display: inline-block;
  color: #FFF;
  font-size: 20px;
  background-color: #0081a1;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: inherit;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;

      span {
        font-weight: 600;
      }
    }

    nav {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(4, auto);
      text-transform: uppercase;

      @media (max-width: 767px) {
        display: none; // Ensures the desktop nav is hidden on small screens
      }

      a {
        color: inherit;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }

  &.is-scrolling {
    background-color: $background-color;

    .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

main {
  section.banner {
    color: #FFF;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url('../images/banner.jpg');
    background-position: top right;
    background-size: cover;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: $background-color;
      opacity: 0.8;
    }

    .container {
      position: relative;
      z-index: 1;

      h1 {
        font-size: 72px;
        margin-bottom: 32px;

        span {
          color: #0081a1;
        }

        @media (max-width: 767px) {
          font-size: 32px;
        }
      }

      h3 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 32px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }

  .abouts {
    background-color: #EEE;

    .container {
      padding-top: 64px;
      padding-bottom: 64px;

      .abouts-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;

        @media (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }

        .about {
          background-color: #FFF;
          border-radius: 16px;
          overflow: hidden;
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);

          .img-box {
            display: block;
            width: 100%;
            border-bottom: 5px solid #0081a1;

            .img {
              display: block;
              width: 100%;
              height: 300px;
              object-fit: cover;
            }
          }

          .content {
            padding: 20px;
          }
        }
      }
    }
  }

  .projects {
    padding-top: 64px;
    padding-bottom: 64px;

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 16px;
      margin-bottom: 32px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      .project {
        position: relative;
        background-size: cover;
        border-radius: 16px;
        overflow: hidden;
        height: 350px;

        &:nth-child(1) {
          background-image: url('../images/pokedex-app-project.jpeg');
        }

        &:nth-child(2) {
          background-image: url('../images/event-explorer-project.jpeg');
        }

        &:nth-child(3) {
          background-image: url('../images/chat-app-project.jpeg');
        }

        &:nth-child(4) {
          background-image: url('../images/FlickPick_API-project.jpeg');
        }

        &:nth-child(5) {
          background-image: url('../images/FlickPick-react-project.jpeg');
        }

        &:nth-child(6) {
          background-image: url('../images/FlickPick-Angular-project.jpeg');
        }

        &:hover,
        &:focus {
          .content {
            opacity: 1;
          }
        }

        /* Tooltip initially hidden */
        .mobile-tooltip {
          display: none;
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          padding: 5px 10px;
          border-radius: 4px;
          z-index: 97;
        }

        .nav-active .project .mobile-tooltip {
          display: none;
        }

        .project:hover .mobile-tooltip,
        .project:focus .mobile-tooltip {
          display: block;
          /* This will only show tooltips on hover or focus */
        }

        @media (max-width: 768px) {
          .mobile-tooltip {
            display: block;
          }
        }

      }

      .content {
        padding: 16px;
        opacity: 0;
        color: #FFF;
        padding: 16px;
        background-color: rgba(0, 37, 47, 0.8);
        transition: 0.4s;

        h3 {
          font-size: 32px;
          margin-bottom: 16px;

          @media (max-width: 1024px) {
            font-size: 28px;
          }
        }

        p {
          font-size: 18px;
          margin-bottom: 16px;

          @media (max-width: 1024px) {
            font-size: 16px;
          }
        }
      }
    }

    .center {
      text-align: center;
    }
  }

  .contact {
    background-color: $lighter-color;

    .container {
      padding-top: 64px;
      padding-bottom: 64px;

      h2 {
        color: #FFF;
      }

      p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 32px;
        text-align: center;
      }

      form {
        display: block;
        margin: 0 auto;
        max-width: 680px;

        .form-grid {
          display: grid;
          grid-gap: 16px;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 16px;

          @media (max-width: 767px) {
            grid-template-columns: 1fr;
          }

          .form-element,
          .form-area {
            appearance: none;
            border: none;
            outline: none;
            background: none;

            display: block;
            width: 100%;
            background-color: #FFF;
            border-radius: 8px;

            padding: 16px;
            font-size: 20px;
            color: #313131;

            &::placeholder {
              color: #AAA;
            }
          }

          .form-area {
            grid-column: 1/-1;
          }
        }

        .right-align {
          text-align: right;
        }
      }
    }
  }
}

.page-footer {
  color: #313131;
  font-weight: 700;
  padding: 32px;
  margin: 0 auto;
  text-align: center;

  p {
    margin-bottom: 16px;
  }
}


.social-icon {
  img {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;

    margin: 0 5px;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }
}

.social-icon a:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}
